@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
/*===================== 
Reset CSS
========================*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*===================== 
Utility classes
========================*/
.grid {
  display: grid;
}
/*===================== 
Container
========================*/
body {
  background-color: #d5d5d3;
  place-content: center;
  height: 100vh;
}
.container {
  background-color: #ffffff;
  place-items: center;
  height: 22rem;
  width: 25rem;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  margin: 2rem;
}
.container:hover {
  box-shadow: 3px 2px 0.3rem gray;
  transition: box-shadow 0.5s ease-out;
}
.container > h1 {
  font-size: 3rem;
}
::placeholder {
  font-family: "Poppins", sans-serif;
  font-size: 1.3rem;
  width: 100%;
}
#Username {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 60%;
  height: 100%;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  margin-top: -2.5rem;
}
#password {
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  width: 60%;
  height: 100%;
  margin-top: -2.5rem;
  font-size: 2rem;
}
#submit {
  background-color: rgb(111, 141, 241);
  border: none;
  width: 60%;
  padding: 0.6rem 1rem;
  cursor: pointer;
  color: #ffffff;
  border-radius: 3px;
}
